.contenedor{
	background: black;
	color: #21948C
}

h1{
	font-family: Arial;
}

h4{
	font-family: Arial;
}

B{
	font-family: Arial;
}

.carrusel{
	display: flex;
	flex-wrap: nowrap;
}

.elemento{
	background-image
}

h2{
	background: black;
	color: #21948C;
	text-align: center;
}


